@media only screen and (min-width : 600px) {

    .personal {
        display: grid;
        column-count: 4;
        column-gap: 10px;
        padding: 20px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }

    .personalimage {
        height: 200px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    td {
        text-align: left;
        border-bottom: solid;
        border-bottom-width: 1px;
        vertical-align: middle;
        text-align: center;
        font-size: 10px;
        padding: 10px;
        line-height: 12px;
    }

    .shop {
        display: grid;
        column-count: 3;
        column-gap: 10px;
        padding: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }

    .detailsshop {
        display: grid;
        column-count: 2;
        column-gap: 10px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

    .button-center {
        text-align: center;
        border-radius: 10px;
    }

    .button {
        width: 100%;
        padding: 20px;
        align-content: center;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
    .filterbutton {
        width: 10%;
        padding: 20px;
        align-content: center;
        text-align: center;
        border: none;
        border-radius: 10px;
    }
    .blue {
        background-color: #98ddfe;
       
    }
    .yellow {
        background-color: #fcf379;
    }
    .red {
        background-color: #ff0000;
    }
    .editdrop {
        padding-left: 10px;
        width: 150px;
        height: 30px;
        border-radius: 10px;
    }


    .details {
        display: grid;
        border: solid;
        text-align: center;
        grid-template-columns: repeat(5,1fr);
        width: 100%;
    }
    .clickable{
        cursor:pointer;
        padding:2%;
    }

  

    .product-price-text {
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .product-name-text {
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        font-size: 12px;
        padding: 5px;
    }

    .td-show-hide {
        display: none;
    }

    tr {
        vertical-align: middle;
    }

    .shopimage {
        height: 200px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .personaltext {
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }

    .webimage {
        width:100%;
        
        
    }

    .cartprice {
        padding-top: 20px;
        width: 100%;
        text-align: end;
    }

    .text {
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        text-align:start;
        line-height: 20px;
        font-size: 12px;  
        word-wrap: break-word;
    }

    .contact-text {
        margin-top:10%;
        margin-bottom:5%;
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        text-align:center;
        line-height: 20px;
        font-size: 16px;  
        word-wrap: break-word;
    }

        .services-text {
        margin-top:10%;
        margin-bottom:6%;
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Roboto Slab', serif;
        background-color: #ffffff;
        color: #000000;
        text-align: justify;
        line-height: 20px;
        font-size: 14px;  
        word-wrap: break-word;
    }

    .titletext {
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;
        color: #000000;
        margin: 0;
        font-size: 18px;
       text-align:center;
    }

    .headertext {
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;
        color: #000000;
        font-size: 20px;
        width: 100%;
        align-content:center;
        text-align: center;
    }

    .filterdropdown {
        padding-left: 10%;
        padding-right: 10%;
        text-align: end;
    }

    .textcenter{
        text-align:center;
    }
    .wrapper{
        width:100%;
        margin:2%;
    }
    .wrapper-button {
        width:100%;
        margin: 5%;
    }
    .grid-2x2 {
        display: grid;
        column-count: 2;
        column-gap: 10px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }

    .grid-3x3 {
        display: grid;
        column-count: 2;
        column-gap: 10px;
        padding:20px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
    .grid-4x4 {
        display: grid;
        column-count: 4;
        column-gap: 0px;
        padding: 20px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(4,1fr);
    }
    .grid-5x5 {
        display: grid;
        column-count: 5;
        column-gap: 0px;
        padding: 20px;
       
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(5,1fr);
    }
    .grid-5x5-desktop {
        display: grid;
        column-count: 5;
        column-gap: 0px;
        padding: 20px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(5,1fr);
    }
    .googlemapsniklas{
        width:500px;
        height:300px;
    }

    .griditem{
        border-bottom:solid;
        text-align:center;
        vertical-align:middle;
    }

    .desktophidden{
        display:none;
    }
    .grid-2x2-desktop {
        display: grid;
        column-count: 2;
        column-gap: 5px;
        text-align: center;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2,1fr);
    }
}
