@{
    ViewBag.Title = "About";
}


<h2>About us</h2>

<section>
    <article>
        <h2>Egå</h2>
        <img src="~/images/egaa.jpg" />


        <p>
            Butikken ligger på Gåseagervej 6 i 8250 Egå. Parallelt til Grenåvej ud for 9 km stenen fra Århus, med let tilkørsel fra motorvejen, og med helt fri parkering foran butikken.

            Adskillige busforbindelser holder lige uden for døren på Grenåvej.

            Butikken blev etableret i 1998 som ”en lille modebutik” på 150 m2, men er gennem årene vokset til én af Østjyllands største modebutikker af sin slags med et samlet areal på over 600 m2.

            Ud over et stort udvalg af modetøj til kvinder byder Gåseagervej i Egå også på andre spændende butikker indenfor bl. a. cykler, autotilbehør, møbler, boligtilbehør, kontorartikler, biler, surf & ski, senge og legetøj. ( Egå Cykelcenter, Thansen, Tendens, Røsfeld, Surf & Ski, Sejer Jensen, Sengespecialisten, Kreativ Leg, Rikke Solberg).

            Gåseagervej ligger kun ”et stenkast” væk til Egå Marina, hvor der er flere muligheder for en hyggelig maritim frokost efter et godt køb hos KITS Modetøj & Sko !

        </p>
    </article>
</section>

<section>
    <article>
        <h2>Skejby</h2>
        <img src="~/images/skejby.jpg" alt="" />
        <p>

            Butikken ligger på Skelagervej 5 i SKEJBY CENTRET, 8200 Århus N.
            Du finder os lige ved hovedindgangen til SKEJBY CENTRET i det aktive Århus nord område, få meter fra TV 2 , det nye store IKEA, og danmarks største sygehus – SKEJBY UNIVERSITETSHOSPITAL.
            Og tæt på den trafikerede Randersvej samt den nye Århus letbane.
            Der er naturligvis også helt fri parkering foran butikken (med meget handicap venlig parkering og indgang til centret).

            Adskillige busforbindelser holder lige foran SKEJBY CENTRET.
        </p>
    </article>
</section>

<section>
    <article>
        <h2> Personal</h2>

        <span>
            <img src="~/images/personal/annemette.jpg" alt="" />
        </span>

    </article>
</section>



