@{
    ViewBag.Title = "Home Page";
}

@*@Html.ActionLink("Shop", "Index", "products")
</br>
@Html.ActionLink("About", "About", "Home")
</br>
@Html.ActionLink("Services", "Services", "Home")*@
<section>
    <div class='shopping'><img src='~/Content/img/webshop.jpg' alt="Shopping" /></div>
    <div class='other'>
        <span class='service'><img src='~/Content/img/services.jpg' alt="Service" /></span>
        <span class='about'><img src='~/Content/img/about.jpg' alt="About" /></span>
    </div>
</section>