@{
    ViewBag.Title = "Home Page";
}
<div class="frontpage">

    <div class='shopping'>
        <a href="@Url.Action("Index", "products")">
            <img src='~/Content/img/webshop01.png' alt="shopping" />
            <input type="button" class="btn" value="Webshop" />
        </a>
    </div>
    <div class='other'>
        <span class='service'>
            <a href="@Url.Action("Services", "Home")">
                <img src='~/Content/img/img03.jpg' alt="´service" />
                <input type="button" class="btn" value="Services" />
            </a>
        </span>
        <span class='about'>
            <a href="@Url.Action("About", "Home")">
                <img src='~/Content/img/img02.jpg' alt="About" />
                <input type="button" class="btn" value="About" />
            </a>
        </span>
    </div>
</div>