
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<section>
    <article>
        <br />
        <br />
        <div class="titletext">
            Dry cleaning
        </div>

        <img src="~/Content/img/drycleaning.jpg" alt="" class="webimage"/>

        <div class="text">
            We offer dry cleaning services we colaborating with danishcleaning were we get good prices and a fast service,
            to make it easy for you we will make all the arrangements all you have to do is come in with your clothes.
            for prices and times give us a call or visit the shop so we can arrange the prober service you requrie.

        </div>
    </article>
</section>
<section>  
    <article>
        <br />
        <br />
        <div class="titletext">
            Tailoring
        </div>

        <img src="~/Content/img/tailoring.jpg" alt="" class="webimage" />

        <div class="text">
            We can offer a tailoring service if you need cloths altered. we have a long relationship with our offsite tailor who can work magic on any request you might have.
            prices vary depending on the work you need done, so give us a call and we will find the solution together

        </div>
        <br />
    </article>
</section>

